extends layout

block header

block content
    .home
        h1.home__title No point polls app!
        h3.home__text Create and share polls with your friends!
        //-p Dear Firefox users, you won't be able to fully enjoy this app for now, we are working on the issue but in the meantime, try us on Chrome, Edge, or mobile devices :)
        .home__buttons
            .home__buttons__discover: a(href="/polls") Discover
            .home__buttons__log: a(href="/register") Register
            .home__buttons__login: a(href="/login") Login

block footer
    footer
        i.fa.fa-copyright(aria-hidden="true") Made with love by
        a(href="https://github.com/SidoFr", target="blank"): i.fab.fa-github  Nepenthes
        br
        a(href="https://twitter.com/SidoMee", target="blank"): i.fab.fa-twitter
