extends layout

block content
    form.login-form(action="/login" method="POST")
        h2 LOGIN
        label(for="name") Name
        input(type="text" name="name" autocomplete="off")
        label(for="password") Password
        input(type="password" name="password")
        input(type="submit" value="Log In")
    ul.auth-login
        li.login__fb: a(href="/auth/facebook") Login with Facebook
        li.login__twitter: a(href="/auth/twitter") Login with Twitter
