$gradient: linear-gradient(to right, #66ff00, #ff8c00, #ff0080);
$grad2: linear-gradient(to right, #A9B15D, #ff8c00, #ff0080);
$wed_blue: #40E0D0;
$grad_green: #66ff00;
$grad_pink: #ff0080;
$grad_orange: #ff8c00;
$grad_list: #82EB00 #9FD400 #DBA700  #ff8c00 #FF6028 #FF3B4B #FF196A;
$dark: #323232;
$darker: #080808;
$soft: #4f4e4e;
$beige: #fafcdb;
$jua: 'Jua', sans-serif;
$raleway: 'Raleway', sans-serif;
// wedding day blues from ui gradients
$wedding: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
$wed_blue: #40E0D0;
$wed_two: #A9B15D;
$wed_mid: #40e0d0;
// media queries variables
$phone: 'only screen and (min-width: 320px) and (max-width: 736px)';
$tablette: 'only screen and (min-width: 768px) and (max-width: 1024px)';
$big_screen: 'only screen and (min-width: 1920px)';
